*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
    color:white;
    font-family:'Cormorant Garamond', serif;
}

.container{
    display:flex;
    min-height:100vh;
}

/* FOTO */

.left-side{
    width:55%;
    background-image:url("hero2026.jpg");
    background-size:cover;
    background-position:center top;
    background-repeat:no-repeat;
}

/* DEŠINĖ */

.right-side{

    width:45%;

    background:#111;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:50px;

}

.date{

    font-size:1.2rem;

    letter-spacing:4px;

    margin-bottom:30px;

}

h1{

    font-size:5rem;

    font-weight:300;

}

h2{

    font-size:3rem;

    font-weight:300;

}

.heart{

    font-size:2rem;

    margin-top:20px;

}

.countdown-box{

    margin-top:50px;

}

.countdown-box h3{

    font-size:1rem;

    letter-spacing:4px;

    margin-bottom:20px;

}

.time{

    font-size:1.5rem;

}

nav{

    margin-top:60px;

    width:100%;

}

nav a{

    display:block;

    color:white;

    text-decoration:none;

    border-top:1px solid rgba(255,255,255,.15);

    padding:25px;

    font-size:1.5rem;

    transition:.3s;

}

nav a:last-child{

    border-bottom:1px solid rgba(255,255,255,.15);

}

nav a:hover{

    background:#1f1f1f;

}

/* KITI PUSLAPIAI */

.page{

    max-width:1000px;

    margin:auto;

    padding:80px 20px;

}

.page-title{

    text-align:center;

    font-size:4rem;

    margin-bottom:50px;

}

.place-photo{

    width:100%;

    border-radius:20px;

    margin-bottom:40px;

}

.card{

    background:#1a1a1a;

    padding:40px;

    border-radius:20px;

    line-height:2;

}

.card h3{

    font-size:2rem;

    margin-bottom:20px;

}

.button{

    display:inline-block;

    margin-top:30px;

    color:white;

    text-decoration:none;

    border:1px solid white;

    padding:15px 35px;

    transition:.3s;

}

.button:hover{

    background:white;

    color:#111;

}

.back-button{

    display:inline-block;

    margin-top:50px;

    color:white;

    text-decoration:none;

}

@media(max-width:900px){

    .container{

        flex-direction:column;

    }

    .left-side{

        width:100%;

        height:50vh;

    }

    .right-side{

        width:100%;

    }

    h1{

        font-size:3.5rem;

    }

    h2{

        font-size:2.5rem;

    }

}
.parking-gallery{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
    margin-top:30px;
}

.parking-card{
    background:#1b1b1b;
    border-radius:15px;
    overflow:hidden;
}

.parking-card img{
    width:100%;
    height:320px;
    object-fit:cover;
    display:block;
}

.parking-card p{
    padding:15px;
    text-align:center;
}

@media(max-width:768px){

    .parking-gallery{
        grid-template-columns:1fr;
    }

}
